// Mixin for transition
@mixin transition($property, $time) {
  transition: $property $time ease;
}

// Mixin for buttons
@mixin button($bg, $color, $radius: 6px) {
  background-color: $bg;
  color: $color;
  padding: 5px 15px;
  border-radius: $radius;
  cursor: pointer;
  font-size: 14px;
  @include transition(all, 0.3s);
}
