// daashboard

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

// Color variables
$blue: #aea3d6;
$white: #fff;
$gray: #f5f5f5;
$black1: #222;
$black2: #999;

// Button colors
$btn-primary-bg: $blue;
$btn-primary-color: $white;
$btn-info-bg: #17a2b8;
$btn-danger-bg: #dc3545;
$btn-hover-scale: 1.05;
